@import "../../styles/theme/_variables";
@import "../../styles/theme/_responsive";

.main {
  height: $nav-size;
  width: 100%;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    .brand {
      font-size: 2rem;
      color: $text-white;
    }

    .toggle {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      color: white;
      background-color: transparent;
      border: none;
      display: none;
    }

    .navMenu {
      ul {
        list-style: none;
        display: flex;

        li{
          padding: 1rem;

          a {
            color: $text-white;
            font-weight: 300;
            font-size: .9rem;
            text-decoration: none;
            transition: color .5s ease;

            &:hover, &.active {
              color: $secondary;
            }
          }
        }
      }
    }
  }
}
